![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [11]:
import pandas as pd
schools = pd.read_csv("schools.csv")
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [12]:
best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [25]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
top_10_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending=False).head(10)
print(schools["total_SAT"])
print(top_10_schools)

0      1859
1      1193
2      1261
3      1529
4      1197
       ...
370    1086
371    1114
372    1280
373    1207
374    1716
Name: total_SAT, Length: 375, dtype: int64
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [24]:
schools["std_SAT"] = schools["total_SAT"].std()
schools["average_SAT"] = schools["total_SAT"].mean()
schools["num_schools"] = schools["total_SAT"].value_counts(sort=True)
print(schools["std_SAT"])
print(schools["average_SAT"])
print(schools["num_schools"])

0      194.906283
1      194.906283
2      194.906283
3      194.906283
4      194.906283
          ...
370    194.906283
371    194.906283
372    194.906283
373    194.906283
374    194.906283
Name: std_SAT, Length: 375, dtype: float64
0      1275.906667
1      1275.906667
2      1275.906667
3      1275.906667
4      1275.906667
          ...
370    1275.906667
371    1275.906667
372    1275.906667
373    1275.906667
374    1275.906667
Name: average_SAT, Length: 375, dtype: float64
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
370   NaN
371   NaN
372   NaN
373   NaN
374   NaN
Name: num_schools, Length: 375, dtype: float64

In [17]:
borough_stats = schools.groupby("borough").agg(
    num_schools=("school_name", "count"),
    average_SAT=("total_SAT", "mean"),
    std_SAT=("total_SAT", "std"),
    total_SAT=("total_SAT", "sum"))
max_std_borough = borough_stats["std_SAT"].idxmax()
largest_std_dev = borough_stats.loc[[max_std_borough]].round()
print(borough_stats)
print(max_std_borough)
print(largest_std_dev)

               num_schools  average_SAT     std_SAT  total_SAT
borough
Bronx                   98  1202.724490  150.393901     117867
Brooklyn               109  1230.256881  154.868427     134098
Manhattan               89  1340.134831  230.294140     119272
Queens                  69  1345.478261  195.252899      92838
Staten Island           10  1439.000000  222.303596      14390
Manhattan
           num_schools  average_SAT  std_SAT  total_SAT
borough
Manhattan           89       1340.0    230.0     119272